.MyTable {
  .editableCell {
    border: 1px solid red;
    padding: 0;
  }
  .textField {
    width: 100%;
    height: 100%;
    background: transparent;
    &:focus {
      background-color: white;
    }
  }
}
